.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-text {
    font-size: 2.5cqi;
    line-height: 1.2;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 30px;
}

.greeting-txt {
    font-size: 2.4cqi;
    line-height: 1.2;
    margin-bottom: 50px;
}

.status-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--code-bg);
    padding: 20px;
    gap: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
}