.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    background-color: var( --surface);
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-h);
}

.primary-btn {
    background-color: var(--text-h);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.primary-btn:hover {
    background-color: #919191;
}

.login-btn {
    background-color: transparent;
    color: var(--text-h);
    border: 1px solid var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover {
    background-color: #e1e1e1;
    color: var(--bg);
}

.secondary-btn {
    background-color: var(--secondary);
    color: var(--text-h);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-btn:hover {
    background-color: #465060;
}

.alert-btn {
    background-color: var(--alert);
    color: var(--text-h);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.alert-btn:hover {
    background-color: #f86161;
}

.success-btn {
    background-color: var(--success);
    color: var(--text-h);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.success-btn:hover {
    background-color: #22e169;
}

.navbar {
    display: flex;
    height: 50px;
    width: 98%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--surface);
    border-radius: 8px;
    border: 1px solid var(--border);
    align-items: center;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-h);
    margin-left: 20px;
}

.strikethrough {
    text-decoration: line-through;
    opacity: 0.5;
}

.form-input {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 16px;
}

.form-label {
    font-size: 14px;
    color: var(--text-h);
}

.counter {
    margin-left: auto;
    margin-right: 5%;
    font-size: 14px;
}

.error-text {
    color: var(--alert);
    font-size: 14px;
    user-select: none;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90vw;
    max-width: 600px;
}

.logout-btn {
    background-color: transparent;
    color: var(--text-h);
    border: 1px solid var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
    background-color: #e1e1e1;
    color: var(--bg);
}